.h2 {
  margin-bottom: 20px;
}

.h2 a {
  color: #ffffff;
  padding: 2px;
  font-size: 26px;
  font-family: Arial;
  text-decoration: none;
  padding-left: 20px;
}

/*====================== Side Bar ==========================*/

.navbar {
  height: 100%;
  width: var(--sidebar-width);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #324960;
  overflow-x: hidden;
  padding-top: 20px;
  transition: width 0.3s, left 0.3s;
}

.navbar.collapsed {
  width: 0;
}

.menu a {
  padding: 6px 8px 10px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial;
  color: #818181;
  display: block;
}

.menu a:hover {
  color: #f1f1f1;
}



/*================================ Top bar =====================================*/

.top-bar {
  overflow: hidden;
  background-color: #008CBA;
  position: fixed;
  top: 0;
  width: 100%;
}

.top-bar li {
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  font-family: Arial;
  margin-left: -18px;
}

.top-bar a {
  text-decoration: none;
  color: #ffffff;
}

.login-info {
  float: right;
  padding-right: 28px;
  padding-top: 6px;
}

.login-info a {
  text-decoration: none;
  color: white;
}

.login-info a:hover {
  text-decoration: underline;
}

@media screen and (max-height: 450px) {
  .navbar {
    padding-top: 15px;
  }

  .navbar a {
    font-size: 18px;
  }
}

/* ================== COLLAPSIBLE & MOBILE SIDEBAR ================== */

.menu-toggle {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  margin-right: 15px;
  color: white;
  vertical-align: middle;
}

@media (max-width: 900px) {
  :root {
    --sidebar-width: 0px;
  }

  .navbar {
    left: -250px;
    width: 230px !important;
  }

  .navbar.active {
    left: 0;
  }

  .ml-24 {
    margin-left: 0 !important;
  }
}

@media (max-width: 600px) {
  .top-bar li {
    font-size: 14px;
  }

  .login-info {
    padding-right: 10px;
    padding-top: 10px;
    float: none;
    display: block;
    text-align: right;
  }
}